@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mitr&family=Noto+Serif+Thai&display=swap');
* {
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* สีพื้นหลังด้านหลังของโพ็ปอัพ */
    z-index: 1;
}

.popup-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: black;
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

h2 {
    text-align: left;
    margin-bottom: 15px
}

.titel {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.titel::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

p a {
    color: white;
    text-align: right;
    margin-bottom: 20px;
}

input[name="idRoom"] {
    float: left;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    border: black;
    margin-left: 30px;
    color: white;
    text-indent: 1.2em;
    margin-top: -10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    -webkit-text-fill-color: white !important;
}

#randomCode {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: -20px;
    background-color: #313338;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.btn input {
    display: inline;
    margin-top: 20px;
    margin-left: 190px;
}

input#close-popup {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.btn #submitButton {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #FF56D0;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}